*{
  font-family: "Brice BoldCondenced";
}

.App {
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.AppContainer {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  justify-content: center;
}

ul.btnNavContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: gray;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.btnNav:hover{
  background-color: #7439db;
  transition: 0.5s;
}

li {
  display: inline;
}

.mods-container {
  display: flex;
  flex-direction: row;
}

.required {
  display: flex;
  flex-direction: column;
}

.createHome {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .createHome{
    flex-direction: column;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .required {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: rgba(118, 109, 114, 0.29);
    font-size: 20px;
  }

  .Homepage {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: center;
  padding: 0.25rem 0;
}

a {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

a:hover {
  background-color: #7439db;
  transition: 0.8s;
}

.link-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #7439db;
}

.link-btn:hover {
  background-color: #7439db;
  color: white;
  transition: 0.8s;
}

.btnNav {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.home-links {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: default;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  color: white;
  background-color: rgba(128, 128, 128, 50%);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 150px;
  transition: 0.5s;
}

.home-links:hover {
  background-color: rgba(128, 128, 128, 1);
  transition: 0.5s;
}

.discord-logo {
  height: 100px;
  cursor: pointer;
  border: none;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.home-label {
  text-decoration: none;
  font-size: 20px;
}
