*{
  font-family: "Brice BoldCondenced";
}

.App {
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.AppContainer {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  justify-content: center;
}

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: gray;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li {
  display: inline;
}

.mods-container {
  display: flex;
  flex-direction: row;
}

.required {
  display: flex;
  flex-direction: column;
}

.createHome {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .createHome{
    flex-direction: row;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .required {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: rgba(118, 109, 114, 0.29);
    font-size: 20px;
  }

  .Homepage {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: center;
  padding: 0.25rem 0;
}

a {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #7439db;
}

.btnNav {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
